Obligatorio2/sistemaOrquestacion/src/wsdl/pagosYa.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://interfaces.ws.obligatorio2.middleware.fing.edu.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PagosRestServiceService" targetNamespace="http://interfaces.ws.obligatorio2.middleware.fing.edu.uy/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.ws.obligatorio2.middleware.fing.edu.uy/" elementFormDefault="unqualified" targetNamespace="http://interfaces.ws.obligatorio2.middleware.fing.edu.uy/" version="1.0">

  <xs:element name="pagoYa" type="tns:pagoYa"/>

  <xs:element name="pagoYaResponse" type="tns:pagoYaResponse"/>

  <xs:complexType name="pagoYa">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:pago"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idCompra" type="xs:long"/>
      <xs:element minOccurs="0" name="monto" type="xs:double"/>
      <xs:element minOccurs="0" name="nroTarjeta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pagoYaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pagoResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="identificadorPago" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="pagoYaResponse">
    <wsdl:part element="tns:pagoYaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagoYa">
    <wsdl:part element="tns:pagoYa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PagosRestService">
    <wsdl:operation name="pagoYa">
      <wsdl:input message="tns:pagoYa" name="pagoYa">
    </wsdl:input>
      <wsdl:output message="tns:pagoYaResponse" name="pagoYaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagosRestServiceServiceSoapBinding" type="tns:PagosRestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pagoYa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagoYa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagoYaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagosRestServiceService">
    <wsdl:port binding="tns:PagosRestServiceServiceSoapBinding" name="PagosRestServicePort">
      <soap:address location="http://localhost:8081/pagosYa"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>